# **Q1**

In [ ]:
ages = [10, 12, 15, 11, 13, 21]
frequencies = [1, 4, 7, 9, 4, 3]

total_age = sum(age*freq for age,freq in zip(ages,frequencies))
total_freq = sum(frequencies)
mean_age = total_age/total_freq
print(mean_age)

13.464285714285714

# **Q2**

In [ ]:
class_intervals = [(0, 10), (10, 20), (20, 30), (30, 40), (40, 50), (50, 60)]
frequencies = [1, 8, 7, 8, 7, 6]

mid_points = [(interval[0] + interval[1]) / 2 for interval in class_intervals]
total_mid_sum = sum(mid_pt*freq for mid_pt,freq in zip(mid_points,frequencies))
total_freq = sum(frequencies)
mean_mid = total_mid_sum/total_freq
print(mean_mid)

33.108108108108105

# **Q3**

In [ ]:
dt = [13,22,25,25,14,23,31,16]

mean = sum(dt) / len(dt)

sum_var = sum((pt-mean)**2 for pt in dt)
var = sum_var/len(dt)
print(var)

34.359375